:root{
  box-sizing: border-box;
  --main-bg-color:rgba(138, 210, 255, 0.158);
  --title-colors:rgba(2, 138, 138, 0.075);;
}

div.Sign-Up-Button-Box{
  display: flex;
  /* border: 1px solid black; */
  justify-content: center;
  background-color: rgb(255, 255, 255);

}

.Create-User-Account{
  background-color: rgb(255, 255, 255);
  text-decoration: underline;
}

#login-form {
  display: flex;
  flex-direction: column;
  max-width: 20em;
  margin: 60px auto;
  
}

.logBox{
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  justify-content: center;
  
}


h1{
  display: flex;
  flex-direction: column;
  text-align: center;/* Style the Kwitter Text Here */
  font-family: 'Indie Flower', cursive;
  font-family: 'Monofett', cursive;
}

h2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: rgba(138, 210, 255, 0.158);;
  text-shadow: 1px 1px 1.2px rgba(0, 0, 0, 0.322);
  
  
  animation-duration: 1s;
  animation-name: slidein;
  
}

@keyframes slidein {
  from {
    margin-left: 150%;
    width: 100%; 
  }
  
  to {
    margin-left:100%;
    width: 0%;
  }
  
}

label{
    text-align: center;
    margin: 3px;
  }
  
input{
    margin-bottom: 25px;
    /* text-align: center; */
    font-size: 50px;
    text-decoration: none;
}

button{
  background-color: #96B9F9;
  border: none;
}


