:root{
  box-sizing: border-box;
  --main-bg-color:rgba(138, 210, 255, 0.158);
  --title-colors:rgba(2, 138, 138, 0.075);;
}

div.container{
  display: flex;
  flex-direction: column;
  width: 390px;
  border-radius: 1%;
  background-color: rgba(138, 210, 255, 0.158);
  /* box-shadow: 3px 3px 5px rgba(54, 54, 54, 0.555); */
  /* border-top: 1px solid #87CEFA; */
  /* border-left: 1px solid #87CEFA; */
  /* border-right: 1px solid #87CEFA; */
}


.user-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px auto;
  width: 390px;
  background-color: rgba(138, 210, 255, 0.048);
  border-radius: 3%;
  /* border-bottom: .75px solid rgba(135, 206, 250, 0.301); */
  /* border-left: .75px solid rgba(135, 206, 250, 0.507); */
  /* border-right: .75px solid rgba(135, 206, 250, 0.507); */
}


#menu {
  background-color: rgba(67, 129, 245, 0.555);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  border-radius: 1em;
  margin-top: 10px auto;
}


#menu-links {
  display: flex;
  margin-top: 45px;
  height: 50px;
  border-radius: 1em;
  box-shadow:3px 3px 5px rgba(54, 54, 54, 0.555);
  
}


#menu-links a {
  padding-right: 0.5em;
  color: darkblue;
  margin: 15px;
  cursor: pointer;
  
}


h1{
  text-shadow:4px 2px 1px rgba(255, 255, 254, 0.877);
  color: var(--main-bg-color);
  margin-right:500px;
  font-size: 100px;
}

h2{
  animation-name: fadeIn;
	-webkit-animation-name: fadeIn;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}

@keyframes fadeIn {
	0% {
		transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		transform: scale(1.1);	
	}
	80% {
		transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		transform: scale(1);
		opacity: 1;	
	}		
}

@-webkit-keyframes fadeIn {
	0% {
		-webkit-transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		-webkit-transform: scale(1.1);
	}
	80% {
		-webkit-transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		-webkit-transform: scale(1);
		opacity: 1;	
	}		
}

b{
  color: blueviolet;
}

i {
  font-size: 20px;
}

p{
  font-family: 'Indie Flower', cursive;
font-family: 'Monofett', cursive;
font-family: 'Neucha', cursive;
}


.user-name{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0px auto;
  width: 90px;
}


.image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0px auto;
    width: 180px;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.advancedsec.com%2Fwp-content%2Fuploads%2F2018%2F11%2Fprofile-blank.png&f=1&nofb=1");
    border: 2px solid rgb(100, 100, 100);
    border-radius: 2%;
    /* box-shadow:3px 3px 5px rgba(54, 54, 54, 0.555); */
}


img{
  /* display: flex; */
  height: 236px; 
   width: 176px; 
  border-radius: 1%;
}


h5{
  font-family: 'Indie Flower', cursive;

}


input{
  font-family: 'Indie Flower', cursive;
}

.message-input{
  font-family: 'Indie Flower', cursive;
}
.choose-photo-box{
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 25px;
  width: 225px;
  /* border: 1px solid black; */

}


 .upload-button{
   color: rgba(17, 63, 36, 0.685);
   margin: 10px auto;
   margin-bottom: 9px;
   width: 150px;
   background-color: rgb(166, 196, 196);
   border-radius: 10px;
   box-shadow: 5px 5px 8px grey;
 }


 .change-user-button{
   color: rgba(17, 63, 36, 0.685);
   margin: 10px auto;
   margin-bottom: 20px;
   margin-left: 120px;
   width: 150px;
   background-color: rgb(166, 196, 196);
   border-radius: 10px;
   box-shadow: 5px 5px 8px grey;
}


form.container{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0px auto;
  width: 300px;
}


form.white{
  
  width: 400px;
  margin: 0px auto;
  align-content: center;
  background-color: none;
}


/* input.search-box{
  border-radius: 5%;
} */


.delete-container{
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 325px;
  border:1px solid rgba(135, 206, 250, 0.651);

  margin: 50px 0px 50px 30px;
  
}


.delete-user-button{
  /* display: flex; */
  color: rgba(3, 0, 10, 0.685);
   margin: 10px auto;
   margin-bottom: 9px;
   width: 150px;
   background-color: rgba(250, 6, 6, 0.548);
   border-radius: 10px;
   border: 1px dashed green;
   box-shadow: 5px 5px 8px grey;
}


.sign-up-container{
  margin-top: 60px;
}

form{
  margin:30px;
}

.photo-instructions{
  /* border: 1px dashed black; */
  margin-bottom: 20px;
  font-size: 9px;
  text-align: center;
}





/* This targets the list of messages container */


div.footer{
  background-color: var(--title-colors);
}
div.names{
  margin-left: 10px;
}
div.login-footer{
  background-color:#96B9F9;
  margin-top: 530px;
}


/* This targets the list of user cards */

.profile-card-image{
  /* border: 1px solid red; */
  width: 6em;
  height: 8em;
  border-radius: 50%;
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.advancedsec.com%2Fwp-content%2Fuploads%2F2018%2F11%2Fprofile-blank.png&f=1&nofb=1");
  background-size: 7em 8em;
}

.card-user-photo{
width: 100%;
height: 100%;

box-shadow:2px 2px 5px lightslategray;
}

.card-small{
  display: flex;
  flex-direction: column;
  padding:10px 10px 10px 10px;
  width: 60%;
  height:50%;
  margin: 25px 60px;
  background-color: rgba(245, 204, 157, 0);
  border-radius: 3%;
  background-color:rgba(119, 136, 153, 0.219);
  box-shadow:5px 5px 15px lightslategray;
}

.about{
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 50px;
  /* border: 1px solid grey; */
}

.current-search-user{
  font-family: 'Indie Flower', cursive;
font-family: 'Monofett', cursive;
font-family: 'Neucha', cursive;
}

/* This targets the input field for searching users */
.search-users{
  display: flex;
  flex-direction: row;
  /* border: 1px solid black; */
  font-family: 'Indie Flower', cursive;
  font-family: 'Monofett', cursive;
  font-family: 'Neucha', cursive;
  border-radius: 3%;
  width: 500px;
  margin: 5px auto;
  text-align: center;
  box-shadow:2px 2px 5px lightslategray;
  text-decoration: none;
}

.search-box{
  text-align: center;
  text-decoration: none;
  font-family: 'Indie Flower', cursive;
}
.current-search-user{
  margin: 15px;
}

/* This Targets the Message Feed styling */
.card-message-small{
  display: flex;
  flex-direction: column;
  padding:10px 10px 10px 10px;
  width: 60%;
  height:50%;
  margin: 25px 60px;
  background-color: rgba(245, 204, 157, 0);
  border-radius: 3%;
  background-color:rgba(119, 136, 153, 0.219);
  box-shadow:5px 5px 15px lightslategray;
  animation-duration: 1s;
  animation-name: slidein;
  
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 60%; 
  }
  
  to {
    margin-left:10%;
    width: 60%;
  }
  
}



.card-message-photobox{
width: 6rem;
height: 8rem;
box-shadow:2px 2px 5px lightslategray;
background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.advancedsec.com%2Fwp-content%2Fuploads%2F2018%2F11%2Fprofile-blank.png&f=1&nofb=1");
background-size: 7em 8em;
border-radius: 50%;

}


.message-image{
  width: 100%;
  height: 100%;
  box-shadow:2px 2px 5px lightslategray;
  
}

.likeButton{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color:rgba(245, 204, 157, 0.205);
  border-radius:50% ;
  width:20px;
  height: 20px;
  margin: 10px;
  padding-top: 20px;
  padding-left: 0.5px;
  
}

.likeButton:visited{
  color: rgb(255, 251, 0); 
}

.cursive-text{
  font-family: 'Indie Flower', cursive;
}


div.card-action{
width: 25%;
}
.message-id{
  font-size:10px;
}

.material-icons{
  /* background-color: yellow; */
  margin: 0px auto;
  border-radius: 50%;
}

/* This targets the NotFound page  */
.not-found-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  /* border: 1px solid black; */

}

.fourOfour{
  width: 1072px;
  height: 580px;
}